.header a {
    font-size: 2.5em;
    margin: 5px 80px;
    color:var(--white);
    transition: color .2s linear;
    text-decoration: none;
}

.header a:hover {
    color: var(--primary-color);
}

.button-primary {
    background-color: var(--primary-color);
    border-radius: 50px;
    transition: all 0.2s linear;
    width: auto;
    height: auto;
    border: 0;
}

.button-primary:hover {
    box-shadow: 0 0 15px var(--primary-color);
}

.exitBtn {
    text-decoration: none;
    color: var(--white);
    text-align: center;
}

.exitBtn p {
    color: var(--white);
    transition: color .2s linear;
}

.exitBtn p:hover {
    color: var(--primary-color);
}

.postText {
    color:var(--white);
    padding: 5px 15px ;
    background-color: var(--bgPosts);
    border-bottom-left-radius: 15px; 
    border-bottom-right-radius: 15px;
    transition: all .2s linear;
}

.postCont:hover{
    box-shadow: 0 0 15px var(--primary-color);
    
}

.stories {
    transition: all .2s linear;
    width: 200px;
    height: 300px;
    border-radius: 5%;
}

.stories:hover{
    box-shadow: 0 0 15px var(--primary-color);
    transform: scale(1.1);
}

.storiesBtn {
    transition: all .2s linear;
    border-radius:50%;
    padding: 0;
    margin-right: 2%;
    margin-left: 1%;
}

.storiesBtn:hover{
    box-shadow: 0 0 12px var(--primary-color);
}

.logo {
    color: white;
    text-decoration: none;
    transition: color .2s linear;
}

.logo:hover {
    color: var(--primary-color);
}

.barBtn img, p {
    transition: all .2s linear;
}

.barBtn .container:hover img {
    box-shadow: 0 0 5px var(--primary-color);
    border-radius: 50%;
} 

.barBtn p {
    color:rgba(210, 210, 210, 0.3);
}

.barBtn .container:hover p {
    color: var(--primary-color)
}

.btn-container {
    background: #FFFFFF;
    transition: color .2s linear;
}

.signinBtn {
    color: var(--white);
    background:black;
}

.loginBtn p{
    color:black;
    transition: color .2s linear;
}

.loginBtn p:hover {
    color: var(--primary-color);
}

.signinBtn p:hover {
    color: var(--primary-color);;
}

.form-control {
    transition: 0;
    /* box-shadow: 0 3px 10px black; */
    box-shadow: 0 0 0 black;
}

.form-control:focus {
    /* box-shadow: 0 3px 1px black; */
    box-shadow: 0 0 0 black;
}

.form-control::placeholder {
    color: rgba(210, 210, 210, 0.3);
}

.row::-webkit-scrollbar {
    height: 5px; 
}

.row::-webkit-scrollbar-track {
    background-color: #08080800
}

.row::-webkit-scrollbar-track:hover {
    background-color: #3131314f
}

.row::-webkit-scrollbar-thumb {
    background-color: var(--primary-color); /* Цвет бегунка */
    border-radius: 20px; /* Округление бегунка */
}

.searchBarContainer .input-group {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.45);
}

.postBTN .img {
    background-color: white; 
    border-radius:50%;
    transition: all .2s linear;
}

.postBTN .img:hover {
    background-color: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
}

.barBtn .container {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.45);
}